* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image:url('back.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-reoeat;
    height:100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #fff;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a.active,
nav ul li a:hover {
    color: red;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: #fff;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 40px;
    color: black;
}

.hero-text p {
    margin: 10px 0;
    font-size: 16px;
    color: gray;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.hero-image img {
    width: 400px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}